@media (max-width: 1200px) {
    .promo {
        &_title {
            font-size: 30px;
        }
    }
    .choice {
        padding-top: 20px;
        &_title {
            margin-top: 45px;
            font-size: 30px;
        }
        .row {
            margin: 0;
        }
    }
    .business {
        &:after {
            right: 750px;
        }
        &_img {
            margin-left: 40px;
        }
        &_block {
            margin-left: 0;
        }
    }
    .invest {
        &:after {
            left: 430px;
        }
        &_title {
            font-size: 41px;
        }
        &_img {
            margin-left: 40px;
        }
    }
    .help {
        &_img {
            width: 430px;
        }
        &_title {
            margin-top: 70px;
        }
    }
}

@media (max-width: 991px) {
    .promo {
        &_wrapper {
            margin: 50px 0 15px 50px;
        }
        &_title {
            font-size: 27px;
            line-height: 38px;
        }
        &_watch {
            display: none;
            &-mobile {
                display: flex;
                width: 100%;
                margin-top: 45px;
                padding: 0 50px;
                &-btn {
                    width: 135px;
                    height: 70px;
                }
            }
        }
    }
    .choice {
        padding-top: 50px;
        &_firms {
            margin: 20px;
        }
        &_title {
            font-size: 27px;
        }
        &_block {
            &-title {
                font-size: 15px;
            }
            &-text {
                font-size: 13px;
            }
        }
        &:after {
            background: url(../img/bgchoice.webp) center (center/contain) no-repeat;
        }
    }
    .business {
        margin-top: 110px;
        &:after {
            right: 550px;
        }
        &_wrapper  {
            margin: 0;
        } 
        &_traffic {
            font-size: 30px;
            line-height: 40px;
            &-descr {
                line-height: 25px;
            }
        }
        &_img {
            margin-left: 15px;
            width: 335px;
        }
        &_title {
            font-size: 30px;
            margin-top: 60px;
        }
        &_block {
            width: auto;
        }
        
    }
    .next {
        margin-top: 100px;
        min-height: 450px;
        &:after {
            top: 0;
        }
        &_title {
            width: auto;
            font-size: 30px;
            margin-top: 60px;
        }
    }
    .invest {
        margin-top: 10px;
        &:after {
            left: 250px;
        }
        &_wrapper  {
            margin: 0;
        } 
        &_title {
            font-size: 30px;
            line-height: 40px;
            &-descr {
                line-height: 25px;
            }
        }
        &_img {
            margin-left: 15px;
            width: 335px;
            height: auto;
        }
    }
    .help {
        margin-top: 20px;
        &_wrapper {
            .row {
                flex-direction: row-reverse;
            }
        }
        &_img {
            margin-top: 140px;
            width: 350px;
        }
        &_title {
            margin-top: 50px;
            font-size: 21px;
        }
    }
    .consultation {
        &_wrapper {
            width: 700px;
        }
    }
    .modal {
        &-content {
            width: 100%;
            left: 50%;
            transform: translateX(-50%);
        }
        &-contact {
            width: 95%;
        }
    }
}
@media (max-width: 767px) {
    .promo {
        &_wrapper {
            margin: 45px 0 0 30px;
        }
        &_title {
            font-size: 25px;
            line-height: 31px;
        }
        &_watch {
            &-mobile {
                margin-top: 45px;
                padding: 0 30px;
            }
        }
    }
    .choice {
        &_firms {
            flex-wrap: wrap;
        }
        &_title {
            font-size: 25px;
        }
        &_img {
            line-height: 2.5;
        }
        &_block {
            width: 100%;
        }
    }
    .business {
        margin: 0;
        &:after {
            right: 300px;
        }
        &_traffic {
            text-align: center;
        }
        &_img {
            margin: 40px 0;
            float: right;
        }
        
        &_title {
            margin-top: 30px;
            font-size: 26px;
            line-height: 35px;
            letter-spacing: -0.67px;
        }
    }
    .next { 
        &:after {
            background: url(../img/ellipse.webp) center (center/cover) no-repeat;
            top: 150px;
        }      
        &_title {
            text-align: center;
            font-size: 26px;
            line-height: 35px;
        }
    }
    .invest {
        margin: 0;
        &:after {            
            left: 50px;
            top: 200px;
        }
        &_title {
            text-align: center;
        }
        &_img {
            margin: 40px 0;
            width: 300px;
            float: right;
        }
    }
    .help {
        &_img {
            float: right;
            width: 250px;
        }
        &_desktop {
            display: none;
        }
        &_mobile {
            display: block;
        }
    }
    .consultation {
        &_wrapper {
            width: 500px;
        }
        &_title {
            font-size: 25px;
            line-height: 25px;
            
                
        }
        input {
            width: 260px;
        }
    }
}
@media (max-width: 575px) {
    .navbar {
        margin-top: 40px;
    }
    .menu {
        margin: 0;
    }
    .logo {
        margin-left: 15px;
    }
    .promo {
        &_wrapper {
            position: relative;
        }
        &_man {
            position: absolute;
        }
        &_text {
            width: 97%;
        }
        &_title {
            font-size: 23px;
        }
        &_descr {
            display: none;
        }
        &_watch {
            &-descr {
                font-size: 13px;
                line-height: 16px;
            }
        }
    }   
    .choice {
        &_firms {
            display: none;
        }
        &_title {
            font-size: 23px;
        }
    }
    .business {
        &:after {
            right: 0;
        }
        &_traffic {
            font-size: 23px;
            line-height: 33px;
        }
        &_img {
            width: 250px;
        }
        &_title {
            font-size: 20px;
            line-height: 30px;
        }
    }
    .next {
        
        min-height: 400px; 
        &_title {
            font-size: 20px;
            line-height: 30px;
        }
    }
    .invest {
        &_title {
            font-size: 23px;
            line-height: 33px;
        }
        &_img {
            width: 250px;
        }
        &_title {
            font-size: 20px;
            line-height: 30px;
        }
    }
    .help {
        &_img {
            margin-top: 35px;
            width: 285px;
        }
        &_title {
            font-size: 19px;
        }
    }
    .consultation {
        &_wrapper {
            width: 300px;
            height: auto;
            padding-top: 30px;
        }
        &_title {
            font-size: 18px;
        }
        &_descr {
            width: 290px;
            font-size: 13px;
        }
        .form {
            justify-content: center;
            &-button {
                flex-direction: row;
                justify-content: center;
            }
        }
        input {
            width: 285px;
            height: 50px;
            border-radius: 5px;
        }
        button {
            margin-top: 10px;
            border-radius: 5px;

        }
    }
    .modal {
        &-descr {
            width: 100%;
        }
        &-contact {
            padding: 15px;
        }
        &_subtitle {
            font-size: 25px;
        }
    }
    .button {
        width: 120px;
        letter-spacing: 0;
    }
    .feed-form {
        textarea {
            height: 125px;
        }
        &_message {
            button {
                &:last-child {
                    margin-left: 28px;
                }
            }
        }
    }
    
}

