* {
    font-family: Rubik, sans-serif;
    font-family: Gilroy, sans-serif;
    font-family: Inter, sans-serif;
    box-sizing: border-box;
}
body {
    background: linear-gradient(222.26deg, #3B1D60 1.22%, #040D3E 106.28%);
}
@import 'libs/bootstrap-reboot.min';
@import 'libs/font';
@import 'libs/bootstrap.min';
@import 'libs/lite-yt-embed';
@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/choice';
@import 'blocks/business';
@import 'blocks/next';
@import 'blocks/invest';
@import 'blocks/help';
@import 'blocks/consultation';
@import 'blocks/footer';
@import 'blocks/buttons';
@import 'blocks/forms';
@import 'blocks/modal';
@import 'blocks/up';
@import 'base/media';








