* {
    font-family: Rubik, sans-serif;
    font-family: Gilroy, sans-serif;
    font-family: Inter, sans-serif;
    box-sizing: border-box;
}
body {
    background: linear-gradient(222.26deg, #3B1D60 1.22%, #040D3E 106.28%);
}
@import 'libs/bootstrap-reboot.min';
@import 'libs/font';
@import 'libs/bootstrap.min';
@import 'libs/animate';
@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/choise';
@import 'blocks/buttons';
@import 'blocks/forms';
@import 'blocks/modal';
@import 'blocks/up';
@import 'base/media';








