.button {
    width: 157px;
    height: 46px;
    display: inline-block;
    border: none;
    border-radius: 2px;
    background: #F2994A;
    color: #FFFF;
    transition: all 0.3s ease;    
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    &:hover, &:active, &:focus {
        color: #fff;
        text-decoration: none;
    }
    &:hover {
        box-shadow: -5px 20px 40px rgba(#F2994A, 0.3);
    }
    &:active {
        background: #F2994A;
        box-shadow: -5px 20px 40px rgba(#F2994A, 0.3);
    }
    &_mini {
        width: 100px;
        height: 31px; 
        font-size: 14px;
        text-decoration: none;
        float: right;
    }
    
    
}