.button {
    width: 157px;
    height: 46px;
    display: inline-block;
    border: none;
    border-radius: 2px;
    background: #F2994A;
    color: #FFFF;
    transition: all 0.3s ease;    
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    &:hover, &:active, &:focus {
        color: #fff;
        text-decoration: none;
    }
    &:hover {
        box-shadow: -10px 10px 20px rgba(#F2994A, 0.3);
    }
    &:active {
        background: #F2994A;
        box-shadow: -5px 10px 20px rgba(#F2994A, 0.3);
    }
    &-submit {
        font-family: Inter;
        background: linear-gradient(222.26deg, #3B1D60 1.22%, #040D3E 106.28%);
        &:hover {
            box-shadow: 10px 10px 20px rgba(#3B1D60, 0.4);
        }
        &:active {
            background: #3B1D60;
            box-shadow: 10px 10px 20px rgba(#3B1D60, 0.4);
        }
        &_consultation {
            width: 128px;
            height: 56px;
            background: #F2994A;
            border-radius: 0px 5px 5px 0px;
            color: #FFFF;
            &:hover, &:active, &:focus {
                color: #fff;
                text-decoration: none;
            }
            &:hover {
                box-shadow: -10px 10px 20px rgba(#F2994A, 0.3);
            }
            &:active {
                background: #F2994A;
                box-shadow: -5px 10px 20px rgba(#F2994A, 0.3);
            }
        }
    }
    &_back {
        font-family: Inter;
        &:hover {
            box-shadow: 10px 10px 20px rgba(#F2994A, 0.4);
        }
        &:active {
            background: #3B1D60;
            box-shadow: 10px 10px 20px rgba(#F2994A, 0.4);
        }
    }
    &_mini {
        width: 100px;
        height: 31px; 
        font-size: 14px;
        text-decoration: none;
        float: right;
    }        
}
