.feed-form {
    .col-lg-5 {
        display: flex;
        flex-direction: column;
    }
    input {
        width: 100%;
        height: 40px;
        margin: 0 0 10px 0;
        border: 1px solid rgba(0, 0, 0, 0.21);
        padding: 0 27px;
        background-color: #ffffff;
        outline: none;
        font-size: 13px;
        font-weight: 300;
        text-align: left;
        color: rgba(23, 23, 23, 0.7);
    } 
    textarea {
        width: 100%;
        height: 140px;
        border: 1px solid rgba(0, 0, 0, 0.21);
        outline: none;
        padding: 18px 25px 0 25px;
        resize: none;
        font-size: 13px;
        font-weight: 300;
        color: rgba(23, 23, 23, 0.7);
    }
    button {
        margin: 15px 0 0 0;
        float: right;
    }
    &_message {
        button {
            float: none;
            margin: 15px 0 0 0;
            &:last-child {
                margin-left: 30px;
            }
        }
    }
    .error {
        border: 1px solid red;
    }
    label.error {
        color: #4B4B4B;
        border: none;
        text-align: center;
        margin-bottom: 15px;
    }
}