
.header {
    width: 100%;
    height: auto;
}
.navbar {
    display: flex;
    justify-content: space-between;
    
    margin-top: 79px;
}
.logo {
    width: 36px;
    height: 36px;
    img {
        width: 100%;
    }
}
.menu {
    display: flex;    
    margin: 0 0 0 40px;
    &_item {
        list-style-type: none;
        margin-right: 20px;
    }
    &_link {
        font-family: Gilroy;
        font-size: 12px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #B5B5B5;
        text-decoration: none;
        &:hover {
            color: #F2994A;
        }
    }
}
    
