.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 1001;
    background-color: rgba(0, 0, 0, .56);
}
.modal {
    &-contact {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 4px;
        width: 800px;
        height: auto;
        background-color: white;
        padding: 38px 40px 40px 40px;
    }
    &_subtitle {
        font-family: Gilroy;
        color: #0D0D0D;
        font-weight: 700;
        font-size: 30px;
        text-align: left;
        &-mini {
            font-family: Gilroy;
            color: #0D0D0D;
            font-weight: 700;
            font-size: 30px;
            text-align: left;
            text-align: center;
        }
    }
    &_descr {
        font-family: Inter;
        color: #0D0D0D;
        font-weight: 500;
        font-size: 16px;
        text-align: left;
        margin-bottom: 20px;
        &-mini {
            font-family: Inter;
            color: #0D0D0D;
            font-weight: 500;
            font-size: 16px;
            text-align: left;
            margin-bottom: 20px;
            text-align: center;
        }
    }
    &-dialog {
        max-width: 800px;
    }
    &-header {
        padding: 15px;
        
    }
    &-body {
        min-height: 300px;
        display: flex; 
        justify-content: center;
        align-items: center;
        font-family: Gilroy;
        font-size: 18px;
        font-weight: 600;
        line-height: 22px;
    }
    &-descr {
        border: 1px solid #361C5D;
        border-radius: 2px;
        width: 70%;
        padding: 50px 0;
        text-align: center;
        color: #8476AA;
    }
    &-footer {
        justify-content: flex-start;
        &_descr {
            font-family: Gilroy;
            color: #8476AA;
            font-size: 18px;
        }
    }
    &_mini {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 800px;
        min-height: 140px;
        height: auto;
        background-color: white;
        padding: 38px 40px 40px 40px;
    }
    &_close {
        margin-top: 10px;
        float: right;
    }
    .error {
        border: 1px solid red;
    }
    label.error {
        border: none;
        text-align: center;
        margin-bottom: 15px;
    }
    video {
        max-width: 740px;
        max-height: 416px;
        width: 100%;
        height: 100%;
    }
}

#contact_message,
#thanks {
    display: none;
}

